
{% extends "layout-back.html" %}

{% block pageTitle %}
FE Workforce - Correct number of board members
{% endblock %}

{% block content %}



  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div id="govCheckRadioError" class="govuk-error-summary hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#gov-error-for-radios">Select if the total number of board members is correct or not </a>
                </li>
              </ul>
            </div>
          </div>


              {% include "./includes/gov_data_tag.html" %}  

        <h1 class="govuk-heading-l">
        A <span class="new-text hidden">new</span> total of <span class="totalGovernors">12</span> board members are recorded
      </h1>
      <div class="govuk-warning-text hidden">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            If you continue, some data will be cleared and required again to match against the new number of board members.
          </strong>
        </div>
      
      <p class="govuk-body">Board representation:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>
              <span id="staffGovernors">{{ data['staff-governors'] }}</span> Staff governors
          </li>
          <li>
              <span id="studentGovernors">{{ data['student-governors'] }}</span> Student governors
          </li>
          <li>
              <span id="independantGovernors">{{ data['independent-governors'] }}</span> Independent governors
          </li>
          <li>
              <span id="parentGovernors">{{ data['parent-governors'] }}</span> Parent governors
          </li>     
      </ul> 
      <form method="get" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Is this the correct number of board members?
              </h2>
            </legend>

            <span id="gov-error-for-radios" class="govuk-error-message hidden">
              <span class="govuk-visually-hidden">Error:</span> Select if the total number of board members is correct or not
            </span>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correct-number" name="correct-number" type="radio" value="yes~gov-05">
                <label class="govuk-label govuk-radios__label" for="correct-number">
                  Yes, it's the correct number
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correct-number-2" name="correct-number" type="radio" value="no~gov-03">
                <label class="govuk-label govuk-radios__label" for="correct-number-2">
                  No, I want to make changes
                </label>
              </div>
              
            </div>
        
          </fieldset>
        </div>

        
          <button id="govButtonForRadios" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        
          
       

      </form>
    </div>

    

  </div>

  <div class="govuk-visually-hidden">
      <div id="journeyPath">{{ data['journeys'] }}</div>
    <span class="totalGovernors"></span>
    </div>


{% endblock %}
