
{% extends "layout.html" %}

{% block pageTitle %}
  FE Workforce - Start
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Governor data collection
      </h1>
      
      <p>Use this service to record governor data as at 31 July 2021.</p>
        
      <p>You should complete a return if your organisation is a further education (FE) or sixth-form college and receives funding through one or more of the following funding models:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>16-19 (excluding Apprenticeships)</li>
          <li>Adult skills</li>
          <li>Apprenticeships (from 1 May 2017) including Levy funding</li>
          <li>Community Learning</li>
          <li>European Social Funding (ESF)</li>
          <li>Other Adult</li>
          <li>Other 16-19</li>
          
        </ul>
        
        <p>The collection will  provide  governor board formation and composition data of the sector to the Department for Education (DfE).</p>  
        
        <a id="startButton" href="gov-02.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>


          <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">This collection uses an online form. You can save progress and return to complete or edit your data collection within the reporting period.</p>

        <p class="govuk-body">You will need:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the allowed board size stipulated in the organisation's articles of association</li>
            <li>governor types and numbers</li>
            <li>board composition by gender, age, ethnicity, time served</li>
            <li>board vacancy details</li>
          </ul>
      

    </div>

    <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_related.html" %}
    </div>
  </div>

<div class="govuk-visually-hidden">
  <div id="journeyPath">{{ data['journeys'] }}</div>
</div>
{% endblock %}
