
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
           
        <form method="get" class="form">    
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Were there any board member vacancies during the academic year ?
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            Include any governor vacancies that were open at the beginning of, or occurred during, the academic year
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="open-vacancies" name="open-vacancies" type="radio" value="yes~/1-0-0/gov-11">
              <label class="govuk-label govuk-radios__label" for="open-vacancies">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="open-vacancies-2" name="open-vacancies" type="radio" value="no~/1-0-0/gov-12">
              <label class="govuk-label govuk-radios__label" for="open-vacancies-2">
                No
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>



          <button role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          </form>
    </div>

   
  </div>

{% endblock %}
