
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./includes/gov_data_tag.html" %}  
      <h1 class="govuk-heading-l">
        What is the total number of board members allowed by your corporation's instrument and articles of association?
      </h1>
      
      <form action="gov-03" method="post" class="form">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="board-size">
            Record the specified board size
          </label>
          <input class="govuk-input govuk-input--width-5" id="board-size" name="board-size" type="text" value="{{ data['board-size'] }}">
        </div>
   
        <button id="boardSizeButton" class="govuk-button" data-module="govuk-button">Save and continue</button>
    
      </form>



          

    </div>

   
  </div>

{% endblock %}
