
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      

    <div class="govuk-grid-column-two-thirds">

      
      
      <h1 class="govuk-heading-l">
        How long have board members served since they were appointed?
      </h1>
      
      <p class="govuk-body">Enter figures across applicable age ranges up to 31 July 2021 for all governors</p>
     
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          Less than 1 year served
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          1 to 4 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          5 to 8 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          9 to 12 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          Over 12 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <a href="gov-10.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Save and continue
      </a>

    </div>

   
  </div>

{% endblock %}
