
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div id="gov-error" class="govuk-error-summary hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a id="errorMessageTotal" href="#">The total number for gender representation must be the same as the number of board members. Enter gender representation numbers that are equal to <span id="totalGovernors"></span> (the number of board members)</a>
            </li>
            <li>
              <a id="errorMessageNumber" href="#">Enter a numeric value</a>
            </li>
          </ul>
        </div>
      </div>

      {% include "./includes/gov_data_tag.html" %}  

        <h1 class="govuk-heading-l">
        What is the gender composition of the board?
      </h1>
      
      <p class="govuk-body">Enter numbers into applicable gender categories</p>

      <form action="gov-06" method="post" class="form">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="male">
          Male board members
        </label>
        <span class="govuk-error-message hidden">
          <span class="govuk-visually-hidden">Error:</span>Enter a numeric value  
        </span>
        <input class="govuk-input govuk-input--width-5" id="male" name="male" type="text" value="{{ data['male'] }}">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="female">
          Female board members
        </label>
        <span class="govuk-error-message hidden">
          <span class="govuk-visually-hidden">Error:</span>Enter a numeric value  
        </span>
        <input class="govuk-input govuk-input--width-5" id="female" name="female" type="text" value="{{ data['female'] }}">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="another">
          How many identify in another way?
        </label>
        <span class="govuk-error-message hidden">
          <span class="govuk-visually-hidden">Error:</span>Enter a numeric value  
        </span>
        <input class="govuk-input govuk-input--width-5" id="another" name="another" type="text" value="{{ data['another'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="pnts">
          How many prefer not to say?
        </label>
        <span class="govuk-error-message hidden">
          <span class="govuk-visually-hidden">Error:</span>Enter a numeric value  
        </span>
        <input class="govuk-input govuk-input--width-5" id="pnts" name="pnts" type="text" value="{{ data['pnts'] }}">
      </div>
      


      <div class="govuk-button-group">
          <button id="genderCompButton" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          
          <!-- <button id="genderCompButtonExit" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and exit
          </button> -->
        </div>
</form>
        


    </div>

   
  </div>
  <div class="govuk-visually-hidden">
    <h1 class="govuk-heading-l">
      A total of <span class="totalGovernors"></span> board members are recorded
    </h1>
    
    <p class="govuk-body">Board representation:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            <span id="staffGovernors">{{ data['staff-governors'] }}</span> Staff governors
        </li>
        <li>
            <span id="studentGovernors">{{ data['student-governors'] }}</span> Student governors
        </li>
        <li>
            <span id="independantGovernors">{{ data['independent-governors'] }}</span> Independent governors
        </li>
        <li>
            <span id="parentGovernors">{{ data['parent-governors'] }}</span> Parent governors
        </li>     
    </ul>
  </div>


{% endblock %}
