
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      

    <div class="govuk-grid-column-two-thirds">

      
      
      <h1 class="govuk-heading-l">
        Board member vacancies
      </h1>
      
      <p class="govuk-body">Record governor vacancies for academic year 2020 to 2021</p>
     
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          How many vacancies were there during the academic year?
        </label>
        <div id="event-name-hint" class="govuk-hint">
          Include any governor vacancies that were open at the beginning of, or occurred during, the academic year
        </div>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          How many were filled?
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          How many of the vacancies took 6 months or longer to fill?
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          How many vacancies have been open for 6 months or longer and are still unfilled?
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
     
      
      <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Save and continue
      </a>

    </div>

   
  </div>

{% endblock %}
