
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

        

    <h1 class="govuk-heading-l">Check your answers</h1>

    <h2 class="govuk-heading-m">Board details</h2>
    <p>Total number of board members allowed by your corporation's instrument and articles of association</p>
    <p>{{ data['board-size'] }}</p>

    <h2 class="govuk-heading-m">How the board is represented</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
          {{ data['staff-governors'] }} Staff governors
      </li>
      <li>
          {{ data['student-governors'] }} Student governors
      </li>
      <li>
          {{ data['independent-governors'] }} Independent governors
      </li>
      <li>
          {{ data['parent-governors'] }} Parent governor
      </li>
    </ul>

    <h2 class="govuk-heading-m">Gender</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Male
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> Male</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Female
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> Female</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many identify in another way?
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many identify in another way?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many prefer not to say?
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- <p class="govuk-body">07700 900457</p>
          <p class="govuk-body">sarah.phillips@example.com</p> -->
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many prefer not to say?</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Age ranges</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          16 to 18
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 16 to 18</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          19 to 24
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 19 to 24</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          35 to 44
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 35 to 44</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          45 to 54
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 45 to 54</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          55 to 64
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 55 to 64</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          65 to 75
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 65 to 75</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          76 or over
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> 76 or over</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Prefer not to say
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Prefer not to say</span>
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Ethnicity</h2>
    
    
    <h3 class="govuk-heading-s">White</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          English / Welsh / Scottish / Northern Irish / British Irish
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> English / Welsh / Scottish / Northern Irish / British Irish</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Gypsy or Irish Traveller
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Gypsy or Irish Traveller</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Roma
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Roma</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Any other White background
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Roma</span>
          </a>
        </dd>
      </div>
      
    </dl>
    
    
    <h3 class="govuk-heading-s">Mixed / Multiple ethnic groups</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          White and Black Caribbean
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> White and Black Caribbean</span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          White and Black African
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> White and Black African</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          White and Asian
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> White and Asian</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Any Other Mixed / multiple ethnic background
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Any Other Mixed / multiple ethnic background</span>
          </a>
        </dd>
      </div>       
    </dl>


    <h3 class="govuk-heading-s">Asian / Asian British</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Indian
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Indian</span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Pakistani
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Pakistani</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Bangladeshi
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Bangladeshi</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Chinese
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Chinese</span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Any other Asian background
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Any other Asian background</span>
          </a>
        </dd>
      </div>       
    </dl>
    
    
    <h3 class="govuk-heading-s">Black / African / Caribbean / Black British</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          African
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> African</span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Caribbean
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Caribbean</span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Any other Black / African / Caribbean background
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Any other Black / African / Caribbean background</span>
          </a>
        </dd>
      </div>       

    </dl>


    <h3 class="govuk-heading-s">Other</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Arab
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Arab</span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Any other ethnic group

        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Any other ethnic group
            </span>
          </a>
        </dd>
      </div>       
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Prefer not to say
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Prefer not to say</span>
          </a>
        </dd>
      </div>       

    </dl>


    <h2 class="govuk-heading-m">Disability</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many governors consider themselves to have a disability?
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many governors consider themselves to have a disability?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many prefer not to say?
        </dt>
        <dd class="govuk-summary-list__value">
          10
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many prefer not to say?</span>
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Vacancies</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many governor vacancies were there over the last academic year?
        </dt>
        <dd class="govuk-summary-list__value">
          4
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many governor vacancies were there over the last academic year?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many were filled?
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many were filled?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many took 6 months or longer to fill
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many took 6 months or longer to fill</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          How many of the unfil
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="gov-05.html">
            Change<span class="govuk-visually-hidden"> How many of the unfil</span>
          </a>
        </dd>
      </div>
    </dl>


    <div class="govuk-button-group">
      <a href="gov-13.html" class="govuk-button" data-module="govuk-button">
        Finish
      </a>
    
      <!-- <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Edit
      </a> -->
    </div>

    </form>

  </div>
</div>

{% endblock %}
