
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      

    <div class="govuk-grid-column-two-thirds">

        <div id="gov-09-error" class="govuk-error-summary hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
              <a href="#passport-issued-day">The total number for time served must be the same as the number of board members. Enter time served figures that are equal to <span id="totalGovernors"></span> (the number of board members)</a>
                </li>
                <!-- <li>
                  <a href="#postcode-input">Enter a postcode, like AA1 1AA</a>
                </li> -->
              </ul>
            </div>
          </div>

      
            {% include "./includes/gov_data_tag.html" %}  

      <h1 class="govuk-heading-l">
        How long have board members served since they were appointed?
      </h1>
      
      <p class="govuk-body">Enter figures accounting for all board members.</p>
      <form action="" method="post" class="form">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="ltoy">
          Less than 1 year served
        </label>
        <input class="govuk-input govuk-input--width-5" id="ltoy" name="ltoy" type="text" value="{{ data['ltoy'] }}">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="1to4">
          1 to 4 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="1to4" name="1to4" type="text" value="{{ data['1to4'] }}">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="5to8">
          5 to 8 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="5to8" name="5to8" type="text" value="{{ data['5to8'] }}">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="9to12">
          9 to 12 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="9to12" name="9to12" type="text" value="{{ data['9to12'] }}">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="over12">
          Over 12 years served
        </label>
        <input class="govuk-input govuk-input--width-5" id="over12" name="over12" type="text" value="{{ data['over12'] }}">
      </div>
      
      

      <div class="govuk-button-group">
        <button id="timeServedButton" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        <button id="timeServedButtonExit" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and exit
        </button>
      </div>

    </form>

    </div>

   
  </div>

  <div class="govuk-visually-hidden">
      <h1 class="govuk-heading-l">
        A total of <span id="totalGovernors"></span> board members are recorded
      </h1>
      
      <p class="govuk-body">Board representation:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>
              <span id="staffGovernors">{{ data['staff-governors'] }}</span> Staff governors
          </li>
          <li>
              <span id="studentGovernors">{{ data['student-governors'] }}</span> Student governors
          </li>
          <li>
              <span id="independantGovernors">{{ data['independent-governors'] }}</span> Independent governors
          </li>
          <li>
              <span id="parentGovernors">{{ data['parent-governors'] }}</span> Parent governors
          </li>     
      </ul>
    </div>

{% endblock %}
