
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      

    <div class="govuk-grid-column-two-thirds">

      
            {% include "./includes/gov_data_tag.html" %}  

      <h1 class="govuk-heading-l">
        Which ethnic groups represent the board?
      </h1>
      
      <p class="govuk-body">Enter figures for ethnic groups that represent the board.</p>
     
      <h2 class="govuk-heading-m">White</h2>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          English / Welsh / Scottish / Northern Irish / British
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Irish
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Gypsy or Irish Traveller
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Roma
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Any other white background
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <h2 class="govuk-heading-m">Mixed / Multiple ethnic groups</h2>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          White and Black Caribbean
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          White and Black African
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          White and Asian
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Any other mixed / Multiple ethnic background
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <h2 class="govuk-heading-m">Asian / Asian British</h2>      
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Indian
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Pakistani
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Bangladeshi
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Chinese
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Any other Asian background
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>


      <h2 class="govuk-heading-m">Black / African / Caribbean / Black British</h2>      
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          African
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Caribbean
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Any other Black / African / Caribbean
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <h2 class="govuk-heading-m">Other</h2>      
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Arab
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Any other ethnic group
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Prefer not to say
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>

      <a href="gov-09.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Save and continue
      </a>

    </div>

   
  </div>

{% endblock %}
