
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What are the age ranges of the board members?
      </h1>
      
      <p class="govuk-body">Enter figures for governors in applicable age ranges. You can use 0 or leave blank for age ranges that are not relevant</p>
     
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          16 to 18 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          19 to 24 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          25 to 34 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          35 to 44 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          45 to 54 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          55 to 64 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          65 to 75 years
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          76 years or over
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          Prefer not to say
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>
      
      
      



          <a href="gov-07.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </a>

    </div>

   
  </div>

{% endblock %}
