
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./includes/gov_data_tag.html" %}  
      <h1 class="govuk-heading-l">
        What is the total number of board members allowed by your corporation's instrument and articles of association?
       
      </h1>
      
      
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="width-5">
            Record the specified board size
          </label>
          <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text"></div>

          <a href="gov-03.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </a>

    </div>

   
  </div>

{% endblock %}
