
{% extends "layout.html" %}

{% block pageTitle %}
  FE Workforce versions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        FE Workforce prototype
        <span class="govuk-caption-xl">Prototype kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <!-- <form method="get" action="/1-0-0/start" class="form">
        <div class="govuk-form-group">
          <label class="govuk-label" for="journeys">
              Journey set to:
          </label>
          <select class="govuk-select" id="journeys" name="journeys">
            <option value="new-user" selected>New User</option>
            <option value="returning-user" >Returning user</option>
          </select>
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Start now
          </button>
      </form> -->

      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You'll need to <a class="govuk-link govuk-link--no-visited-state" href="/prototype-admin/clear-data"> clear the data</a> each time you restart or if you view a different version of the prototype.
          </strong>
        </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption visually-hidden">List of versions</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Updates</th>
            <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
      
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Sardine 1.0.0 <p>29/07/2021</p></th>
            <td class="govuk-table__cell ">
                <p>Public Beta - 01/07/2021 - stopped</p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>Updated content on the <a href="1-0-0/start.html">Start page</a>. User story <a target="blank" href="https://sfa-gov-uk.visualstudio.com.mcas.ms/DCT/_workitems/edit/114652/">114652</a></li>
                    <li>Updated content on <a href="1-0-0/gov-03.html">Gov 03</a>. User story <a target="blank" href="https://sfa-gov-uk.visualstudio.com.mcas.ms/DCT/_workitems/edit/114786/">114786</a></li>
                    <li>Updated content on <a href="1-0-0/gov-12.html">Gov 12 check your answers</a>. User story <a target="blank" href="https://sfa-gov-uk.visualstudio.com.mcas.ms/DCT/_workitems/edit/114802/">114802</a></li>
                    <li>Updated content on <a href="1-0-0/gov-07.html">Gov 07 disability data</a>. User story <a target="blank" href="https://sfa-gov-uk.visualstudio.com.mcas.ms/DCT/_workitems/edit/114787/">114787</a></li>
                    <li>Updated content on <a href="1-0-0/gov-09.html">Gov 09 time board members have served</a>. User story <a target="blank" href="https://sfa-gov-uk.visualstudio.com.mcas.ms/DCT/_workitems/edit/114788/">114788</a></li>
                    
                  
                </ul>
            </td>
            <td class="govuk-table__cell "><a href="#">Contents</a></td>
            <td class="govuk-table__cell "><a href="1-0-0/start.html">Start now</a></td>
        </tr>
        </tbody>
        <tbody class="govuk-table__body">
      
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Sardine 1.0.1 <p>31/08/2021</p></th>
              <td class="govuk-table__cell ">
                  <p>Public Beta - 01/07/2021 - in progress</p>
                  
                  <ul class="govuk-list govuk-list--bullet">
                      <li>New page <a href="1-0-1/choose-journey.html">Choose journey</a></li>
                      <li>New tag on check your answers</li>
                      <li>Save and exit(review) button</li>
                      <li>Incorrect character type validation</li>
                     
  
                    
                  </ul>
              </td>
              <td class="govuk-table__cell "><a href="#">Contents</a></td>
              <td class="govuk-table__cell "><a href="1-0-1/choose-journey.html">Start now</a></td>
          </tr>
          </tbody>
        </table>

    </div>
  </div>

{% endblock %}
